@model IEnumerable<ImageService.WEB.Models.HandelerData>

@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>
<table class="table">
    <tr>
        <th>Output Directory</th>
        <th><p id="OutputDirectory"></p></th>
    </tr>
    <tr>
        <th>Source Name</th>
        <th><p id="SourceName"></p></th>
    </tr>
    <tr>
        <th>Log Name</th>
        <th><p id="LogName"></p></th>
    </tr>
    <tr>
        <th>Thumbnail Size</th>
        <th><p id="ThumbnailSize"></p></th>
    </tr>
</table>
<h3>Handelers</h3>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
    </tr>
}
<br />
<h3>Handelers test</h3>
<table class="table">
    <tr>
        <th>
            <form action="~/Views/First/HandelerCloseConfirm.cshtml">
                <input type="submit" value="HANDELER 1" />
            </form>
        </th>
    </tr>
    <tr>
        <th><a href="~/Views/First/HandelerCloseConfirm.cshtml">HANDELER 3</a></th>
    </tr>
</table>
<script>
    $(document).ready(function () {
        $.getJSON("@Url.Action("GetOutputDirectory")", function (outputDir) {
            $("#OutputDirectory").text(outputDir.text);
        });
        $.getJSON("@Url.Action("GetSourceName")", function (sourceName) {
            $("#SourceName").text(sourceName.text);
        });
        $.getJSON("@Url.Action("GetLogName")", function (logName) {
            $("#LogName").text(logName.text);
        });
        $.getJSON("@Url.Action("GetThumbnailSize")", function (thumbnailSize) {
            $("#ThumbnailSize").text(thumbnailSize.text);
        });
    })
</script>