@model IEnumerable<ImageService.WEB.Models.HandelerData>

@{
    ViewBag.Title = "Config";
}
<h2>Config</h2>
<table class="table">
    <tr>
        <th>Output Directory</th>
        <th><p id="OutputDirectory"></p></th>
    </tr>
    <tr>
        <th>Source Name</th>
        <th><p id="SourceName"></p></th>
    </tr>
    <tr>
        <th>Log Name</th>
        <th><p id="LogName"></p></th>
    </tr>
    <tr>
        <th>Thumbnail Size</th>
        <th><p id="ThumbnailSize"></p></th>
    </tr>
</table>
<h3>Handelers</h3>

@foreach (var item in Model)
{
    if (@Html.DisplayFor(modelItem => item.Text).ToString() == "Connection error, failed to load data.")
    {
        <div class="row">
            <div class="col-xs-2 col-sm-4">
                <p>
                    <a href="#" class="btn btn-default" role="button">
                        @Html.DisplayFor(modelItem => item.Text)
                    </a>
                </p>
            </div>
        </div>
        break;
    }
    else
    {
        <div class="row">
            <div class="col-xs-2 col-sm-4">
                <p>
                    <a href="@Url.Action("HandelerCloseConfirm", "First", new { handeler = @Html.DisplayFor(modelItem => item.Text) })"
                       class="btn btn-default" role="button">
                        @Html.DisplayFor(modelItem => item.Text)
                    </a>
                </p>
            </div>
        </div>
    }
}

<script>
    $(document).ready(function () {
        $.getJSON("@Url.Action("GetOutputDirectory")", function (outputDir) {
            $("#OutputDirectory").text(outputDir.text);
        });
        $.getJSON("@Url.Action("GetSourceName")", function (sourceName) {
            $("#SourceName").text(sourceName.text);
        });
        $.getJSON("@Url.Action("GetLogName")", function (logName) {
            $("#LogName").text(logName.text);
        });
        $.getJSON("@Url.Action("GetThumbnailSize")", function (thumbnailSize) {
            $("#ThumbnailSize").text(thumbnailSize.text);
        });
    })
</script>