
@{
    ViewBag.Title = "MainPage";
}

<h2>Main Page</h2>
<br />
Image Service status: <p id="Running"></p>
Image count: <p id="ImageCount"></p>
<br />
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    <tr>
        <td><p id="Name1"></p></td>
        <td><p id="ID1"></p></td>
    </tr>
    <tr>
        <td><p id="Name2"></p></td>
        <td><p id="ID2"></p></td>
    </tr>
</table>

<script>
    //The functions in this group are called when the page is loaded.
    $(document).ready(function () {
        //Loads the state of the service using the controller.
        $.getJSON("@Url.Action("GetRunning")", function (running) {
            $("#Running").text(running.text);
        });
        //Loads the number of images processed using the controller.
        $.getJSON("@Url.Action("GetImageCount")", function (imageCount) {
            $("#ImageCount").text(imageCount.text);
        });
        //Loads the name of one of the developers using the controller.
        $.getJSON("@Url.Action("GetName1")", function (name1) {
            $("#Name1").text(name1.text);
        });
        //Loads the name of the other developer using the controller.
        $.getJSON("@Url.Action("GetName2")", function (name2) {
            $("#Name2").text(name2.text);
        });
        //Loads the ID of one of the developers using the controller.
        $.getJSON("@Url.Action("GetID1")", function (id1) {
            $("#ID1").text(id1.text);
        });
        //Loads the IDA of the other developer using the controller.
        $.getJSON("@Url.Action("GetID2")", function (id2) {
            $("#ID2").text(id2.text);
        });
    })
</script>