
@{
    ViewBag.Title = "Photos";
}

<h2>Photos</h2>
<!---check to see if an image was just deleted-->
@if(ViewBag.Deleted != null && ViewBag.Deleted == "true")
{
    <div class="alert alert-info alert-dismissible">
     <a href="@Url.Action("Photos", "First", new { id = "false" })" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Image Deleted.</strong>
    </div>
}


<!---iterate through the view bag list and generate appropriate photos and buttons-->
    <div class="row">
        @foreach (var photo in ViewBag.photos)
        {
            <div class="col-sm-1 col-md-4">
                <div class="thumbnail">
                    <!---generate the strings needed for paths-->
                    @{
                        var Name = Path.GetFileName(photo);
                        var Month = Path.GetFileName(Path.GetDirectoryName(photo));
                        var Year = Path.GetFileName(Path.GetDirectoryName(Path.GetDirectoryName(photo)));
                        string thumbnail = Path.Combine(Server.MapPath("~/App_Data"), "Thumbnails");
                        thumbnail = Path.Combine(thumbnail, Year);
                        thumbnail = Path.Combine(thumbnail, Month);
                        thumbnail = Path.Combine(thumbnail, Name);
                    }
                    <img src="@thumbnail" class="img-circle" alt="@thumbnail" />
                    <h2>@Name</h2>
                    <p>@Month</p>
                    <p>@Year</p>
                    <p>
                        <a href="@Url.Action("ViewPage", "First", new { year = Year, month = Month, file = Name})"
                           class="btn btn-info" role="button">View</a>

                        <a href="@Url.Action("ImageDeleteConfirm", "First", new { year = Year, month = Month, file = Name})"
                           class="btn btn-danger" role="button">Delete</a>
                    </p>
                </div>
            </div>
        }
    </div>
